<section id="skills" class="min-h-fit bg-neutral-900 flex flex-col items-center justify-center text-center p-10">
  <h2 class="text-4xl font-bold text-white mb-8">Skills</h2>
  <div class="mockup-code bg-neutral-800 p-4 text-left max-w-lg w-full">
    <!-- Iterate over each skill using Angular's *ngFor directive -->
    <div *ngFor="let skill of skills" class="mb-4">
      <pre data-prefix="$" class="text-info"><code>npm install {{ skill.skill.toLowerCase() }}_skills</code></pre>
      <pre data-prefix=">" class="text-warning"><code>installing...</code></pre>
      <pre class="flex items-center">
        <span class="text-success mr-2">[{{ generateProgressBar(skill.proficiency) }}]</span>
        <span class="text-success">{{ skill.proficiency }}%</span>
      </pre>
    </div>
  </div>
</section>
