<div class="flex flex-col items-center w-full p-4 bg-opacity-60 min-h-screen justify-center">
  <h2 class="text-2xl text-white font-bold mb-6">My Skills</h2>
  <div *ngFor="let skill of skills" class="text-white w-full max-w-lg my-3 p-2">
    <div class="flex items-center space-x-3">
      <i [class]="skill.icon"></i>
      <label class="text-lg font-medium">{{ skill.name }}</label>
    </div>
    <div class="w-full mt-2 overflow-hidden">
      <progress class="progress progress-error w-full transition-transform duration-300 transform hover:scale-105" [value]="skill.level" max="100"></progress>
    </div>
  </div>
</div>
