name: portfolio
services:
  rediscontainer:
    image: redis:alpine
    volumes:
     - ./RedisContainer/redis.conf:/usr/local/etc/redis/redis.conf
     - redis_data:/data
    build:
      context: ./RedisContainer
      dockerfile: Dockerfile
    ports:
      - '${REDIS_DB_PORT:-6379}:6379'
    environment:
      - REDIS_USER=${REDIS_USER}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_PREFIX=${REDIS_PREFIX:-portfolio:}
    healthcheck:
      test: ["CMD", "redis-cli", "ping", "-"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 30s

  psqlcontainer:
    volumes:
     - postgres_data:/var/lib/postgresql/data
    build: 
      context: ./PostgreSQLContainer
      dockerfile: Dockerfile
    ports:
      - '${PSQL_DB_PORT:-5432}:5432'
    environment:
      - POSTGRES_USER=${PSQL_USER:-postgres}
      - POSTGRES_PASSWORD=${PSQL_PASS}
      - POSTGRES_DB=${PSQL_DB_NAME}
      - PSQL_SCHEMA=${PSQL_SCHEMA:-personal_portfolio_schema}
      - PSQL_DB_ADMIN_USER=${PSQL_DB_USER}
      - PSQL_DB_ADMIN_PASSWORD=${PSQL_DB_PASS}
    healthcheck:
      test: ["CMD", "pg_isready", "-h", "localhost", "-p", "5432", "-U", "${PSQL_USER:-postgres}"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 30s

  webcontainer:
    build:
      context: ./WebServer
      dockerfile: Dockerfile
    ports:
     - '${PORT:-4000}:4000'
    environment:
      - PSQL_DB_HOST=psqlcontainer
      - PSQL_DB_USER=${PSQL_DB_USER}
      - PSQL_DB_NAME=${PSQL_DB_NAME}
      - PSQL_DB_PASSWORD=${PSQL_DB_PASS}
      - PSQL_DB_PORT=${PSQL_DB_PORT:-5432}
      - PORT=${PORT:-4000}
      - MODE=${MODE:-production}
      - SALT=${SALT:-15}
      - REDIS_DB_HOST=rediscontainer
      - REDIS_SECRET=${REDIS_SECRET}
      - REDIS_DB_USER=${REDIS_DB_USER}
      - REDIS_DB_PASSWORD=${REDIS_DB_PASSWORD}
      - REDIS_DB_PREFIX=${REDIS_PREFIX:-portfolio:}
      - REDIS_DB_PORT=${REDIS_DB_PORT:-6379}
      - LOG_LEVEL=${LOG_LEVEL:-info}
    depends_on:
      psqlcontainer:
        condition: service_healthy
      rediscontainer:
        condition: service_healthy

volumes:
  redis_data:
  postgres_data: