<section id="contact" class="min-h-screen bg-neutral-800 flex justify-center items-center text-center p-6">
  <div class="flex flex-col md:flex-row w-full max-w-4xl">
    <div class="flex-1 flex flex-col justify-center items-start text-left p-4">
      <h2 class="text-4xl font-bold text-white">Get in Touch</h2>
      <p class="mt-4 text-lg text-white">Feel free to reach out for collaborations or inquiries.</p>
      <p class="mt-2 text-sm text-neutral-400">Email: business&#64;alex-arguelles.com</p>
      <p class="mt-2 text-sm text-neutral-400">GitHub: <a href="https://github.com/alexarg87923" class="text-orange-600 hover:text-orange-700">github.com/alexarg87923</a></p>
    </div>
    <div class="flex-1 p-4">
      <form class="grid gap-4">
        <input class="w-full p-4 bg-neutral-700 border-0 focus:border-0 focus:outline-none focus:ring-1 focus:ring-orange-600 rounded-md placeholder:text-neutral-400 placeholder:text-sm text-neutral-200 text-sm" type="text" placeholder="Name">
        <input class="w-full p-4 bg-neutral-700 border-0 focus:border-0 focus:outline-none focus:ring-1 focus:ring-orange-600 rounded-md placeholder:text-neutral-400 placeholder:text-sm text-neutral-200 text-sm" type="email" placeholder="Email">
        <textarea class="w-full p-4 bg-neutral-700 border-0 focus:border-0 focus:outline-none focus:ring-1 focus:ring-orange-600 rounded-md placeholder:text-neutral-400 placeholder:text-sm text-neutral-200 text-sm" placeholder="Message"></textarea>
        <button class="w-full p-4 bg-orange-600 text-white rounded-md hover:bg-orange-700 transition">Send</button>
      </form>
    </div>
  </div>
</section>
