#hero {
  background-image: image-set(
    url('/medium-sizes/hero-1920.webp') 1x,
    url('/large-sizes/hero-3840.webp') 2x
  );
  background-size: cover;
  background-position: center;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
}

@media (max-width: 600px) {
  #hero {
    background-image: image-set(
      url('/small-sizes/hero-960.webp') 1x,
      url('/medium-sizes/hero-1600.webp') 2x
    );
  }
}

@media (max-aspect-ratio: 3/4) {
  #hero {
    background-image: url('/small-sizes/hero-1080.webp');
  }
}

#children {
  position: relative;
  z-index: 2;
}
