<section id="hero" class="min-h-screen bg-primary flex items-center">
  <style>
    #hero {
      background-image: url('/assets/hero.png');
    }
  </style>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="text-7xl text-white">Hello, I'm <span class="text-accent hover:text-amber-50">Alex</span></p>
      <p class="mt-4 text-5xl text-white">I'm a full stack developer</p>
      <div class="mt-6">
        <a href="#about" class="bg-accent text-primary py-2 px-4 rounded-lg text-lg font-medium hover:bg-orange-300 hover:text-black">See my work</a>
      </div>
    </div>
  </div>
</section>
