<nav class="bg-black shadow-modern absolute w-full">
  <div class="">
    <div class="flex justify-end">
      <div class="hidden md:flex mt-3 me-3">
        <a href="#home" class=" hover:text-accent px-5 py-2 rounded-md text-sm font-medium text-white">About</a>
        <a href="#about" class="hover:text-accent px-5 py-2 rounded-md text-sm font-medium text-white">Projects</a>
        <a href="#services" class="hover:text-accent px-5 py-2 rounded-md text-sm font-medium text-white">Abilities</a>
        <a href="#contact" class="bg-accent text-primary py-2 px-4 rounded-md text-sm font-medium">Contact me</a>
      </div>
      <div (click)="toggleNavbar()" class="flex items-center md:hidden">
        <button id="toggleMobileMenu" type="button" class="bg-secondary inline-flex items-center justify-center p-2 rounded-md text-white hover:text-accent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-accent" aria-controls="mobile-menu" aria-expanded="false">
          <svg [ngClass]="{'hidden': isOpen}" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
          </svg>
          <svg [ngClass]="{'hidden': !isOpen}" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="md:hidden" id="mobile-menu">
    <div [ngClass]="{'hidden': !isOpen}" class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a href="#home" class="text-white hover:text-accent block px-3 py-2 rounded-md text-base font-medium">Home</a>
      <a href="#about" class="text-white hover:text-accent block px-3 py-2 rounded-md text-base font-medium">About</a>
      <a href="#services" class="text-white hover:text-accent block px-3 py-2 rounded-md text-base font-medium">Services</a>
      <a href="#contact" class="text-white hover:text-accent block px-3 py-2 rounded-md text-base font-medium">Contact</a>
    </div>
  </div>
  <script>
    const toggleMobileMenuButton = document.getElementById('toggleMobileMenu');
    const mobileMenu = document.getElementById('mobile-menu');

    toggleMobileMenuButton.addEventListener('click', function() {
      console.log("TEST")
      mobileMenu.classList.toggle('hidden');

      const menuIcon = document.querySelector('.menu-icon');
      const closeIcon = document.querySelector('.close-icon');
      menuIcon.classList.toggle('hidden');
      closeIcon.classList.toggle('hidden');

      const expanded = toggleMobileMenuButton.getAttribute('aria-expanded') === 'true' || false;
      toggleMobileMenuButton.setAttribute('aria-expanded', String(!expanded));
    });

    </script>
</nav>
